# Node
node_modules
npm-debug.log
.next

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
logs

# Test
coverage
.nyc_output

# Documentation
*.md
!README.md


